body {
  font-family: 'Sansita Swashed', cursive;
}

.card-title {
    font-size: 1.5rem;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.jumbotron {
    margin: 0;
    padding: 20px;
    background-color:rgb(241, 237, 169);
}
