.navbar-brand {
  box-shadow:10px 5px 5px teal;
  padding: 5px;
  width: 100px;
}

.navbar-brand .img {
  margin-right: 40px;
}

body {
  font-family: 'Sansita Swashed', cursive;
}


.card-title {
    font-size: 1.5rem;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.jumbotron {
    margin: 0;
    padding: 20px;
    background-color:rgb(241, 237, 169);
}

.card-img-overlay .card-title {
  font-size: 2rem;
}
#newport-beach {
  object-fit:cover;
  min-height: 300px;
}

.home-page-title {
  color: white;
  font-size: 2rem;
}

.home-page {
  color: white;
  font-size: 1rem;
}
